@font-face {
    font-family: 'NeoDunggeunmoPro-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/*둥근모(양식폰트)*/
@font-face {
    font-family: 'NeoDunggeunmo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#form-area {
    margin: auto;
    width: 33%;
}

#board-area {
    margin: 50px auto;
    width: 100%;
}

#form-area .input-area {
    margin: auto;
    text-align: center;
}
#form-area .img-area {
    margin: auto 30px;
    text-align: center;
}

input[type=text] {
    width: 95%;
    height: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid black;
    margin: 0px auto 20px;
}



input[type=text]:focus {
    outline: none;
    border-bottom: 3px solid #9B51E0;
}


#mobile-select {
    width: 32%;
    border: 1px solid #e9e9ff;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 12px 13px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

#mobile-select:focus{
    border: 1px solid #9B51E0;
    box-sizing: border-box;
    border-radius: 5px;
    outline: 3px solid #e9dbff;
    border-radius: 10px;
}

textarea {
    width: 95%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid black;
    margin: 0px auto 20px;
}

textarea:focus {
    outline: none;
    background-color: #e9dbff;
    border-bottom: 3px solid #9B51E0;
}

#board-contents:focus {
    background-color: transparent;
    border-bottom: 3px solid #9B51E0;
}

#member-mobile {
    width: 64%;
}

#form-area .button-area {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

#board-category {
    width: 25%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid black;
    background-color: #e9dbff;
    box-sizing: border-box;
    padding: 12px 13px;
    font-family: 'NeoDunggeunmo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 15px;
}

#board-title {
    width: 95%;
    font-family: 'NeoDunggeunmoPro-Regular';
}

#file-area {
    margin-top: 30px;
    margin-bottom: 30px;
}

#thumbnail-area {
    margin-bottom: 30px;

}

