/*둥근고딕(제목폰트)*/
@font-face {
    font-family: 'NeoDunggeunmoPro-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/*둥근모(양식폰트)*/
@font-face {
    font-family: 'NeoDunggeunmo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.header {
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: auto;
    width: 95%;
}

.header a {
    font-family: NeoDunggeunmoPro-Regular;
    font-size: 30px;
    font-style: italic;
    overflow: hidden;
    float: left;
    display: block;
    margin: auto;
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.right {
    overflow: hidden;
    float: right;
}

.right a {
    font-family: 'NeoDunggeunmo';
    font-style: italic;
    font-size: 20px;
    overflow: hidden;
    display: block;
    margin: auto;
    text-decoration: none;
    cursor: pointer;
    padding-top : 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    color: black;
}

#footer{
    margin: auto;
    height: 30%;
    width: 95%;
    padding-top: 10px;
    bottom: 0;
}

#footer p {
    text-align: center;
    margin: auto;
}


