<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Member">
    <insert id="save" parameterType="member" useGeneratedKeys="true" keyProperty="id">
        insert into member_table (memberName, memberEmail, memberPassword, memberMobile, memberDescription, memberProfile)
        values (#{memberName}, #{memberEmail}, #{memberPassword}, #{memberMobile}, #{memberDescription}, #{memberProfile})
    </insert>

    <insert id="saveFile" parameterType="memberProfile">
        insert into member_profile_table(originalFileName, storedFileName, memberId)
        values (#{originalFileName}, #{storedFileName}, #{memberId})
    </insert>

    <select id="findByEmail" parameterType="String" resultType="member">
        select *
        from member_table
        where memberEmail = #{memberEmail}
    </select>

    <select id="login" parameterType="member" resultType="member">
        select * from member_table where memberEmail = #{memberEmail} and memberPassword = #{memberPassword}
    </select>

    <select id="findById" parameterType="Long" resultType="member">
        select * from member_table where id=#{id}
    </select>

    <select id="findFile" parameterType="Long" resultType="memberProfile">
        select * from member_profile_table where memberId=#{memberId}
    </select>

    <update id="update" parameterType="member">
        update member_table
        set memberEmail=#{memberEmail},
            memberName=#{memberName},
            memberMobile=#{memberMobile},
            memberDescription=#{memberDescription}
        where id = #{id}
    </update>

    <update id="updateFile" parameterType="memberProfile">
        update member_profile_table
        set originalFileName=#{originalFileName},
            storedFileName=#{storedFileName},
            memberId=#{memberId}
            where id = #{id}
    </update>

</mapper>














